<div class="bg-contact100">
    <div class="container-contact100">
        <div class="wrap-contact100">
            <span class="contact100-form-title">
                Estadísticas
            </span>
            <span [routerLink]="['/url-shortener']" class="contact100-form-subTitle">
                Inicio
            </span>
            <div class="wrap-input100 validate-input">

                <input type="text" style="padding:8px;margin:15px auto;width:100%;"
                    placeholder="Filtra por nombre de Url ..." (keyup)="updateFilter($event)" />
            </div>
            <ngx-datatable #table class="material" [columns]="columns" [columnMode]="'force'"
                [headerHeight]="50" [reorderable]="reorderable" [footerHeight]="50" rowHeight="auto" [limit]="5" [rows]="rows">
            </ngx-datatable>

        </div>
    </div>
</div>